<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>url-shortener: Fast & Easy URL Shortening</title>
        <link rel='stylesheet' href='/style.css' />
    </head>
    <body>
        <header class='site-logo'>
            <a href='/'>url-shortener</a>
        </header>
        <div class='container'>
            {{{body}}}
        </div>
        <script src='/copier.js'></script>
    </body>
</html>