<section class='info'>
    <div class='message-block'>
        <h1 class='message'>Shorten your URLs -</h1>
        <h1 class='message'>Fast & Easy</h1>
        <p class='text sub-text'>Your goto site for shortening looooooong urls.</p>
    </div>
    <div class='graphic-block'>
        <img src='/graphic.svg' alt='no-url-graphic' />
    </div>
</section>
<form action='/' method='POST' class='interaction'>
    <input
        type='url'
        placeholder='Input long link!'
        name='url'
        class='box text'
        required
    />
    <input type='submit' value='Shorten!' class='button text' />
</form>