<h1 class='message centered-text'>Your url was shortened successfully!</h1>
<section class='interaction'>
    <p id='short-link'><a
            href='/{{urlId}}'
            target='_blank'
            class='text sub-text'
        >{{host}}/{{urlId}}</a></p>
    <button id='copy-button' class='button text'>Copy!</button>
</section>
<div id='success-popup'>Copied short link to clipboard!</div>